body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#mainGameCanvas {
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #2b8cbfc2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .inventory-item.money {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin-left: 30%;
    font-size: 20px;
}

.navbar .inventory-item {
    margin-left: 20px;
}

.navbar .inventory-item:active {
    margin-left: 21px;
}

.gameControls {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.gameControls .controls-button {
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-left: 1px solid black;
}

.store {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 600px;
    transform: translate(-50%, 0);
    background: lightblue;
    flex-direction: column;
    display: none;
}

.store .store-message {
    text-align: center;
    border: 1px solid red;
    color: red;
    padding: 5px;
    background: white;
    display: none;
}

.store .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.store .buy-item {
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px 20px;
    box-sizing: border-box;

}

.store .buy-item.disabled:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d0d0d0c9;
}

.store h1 {
    margin: 20px;
}

.buy-item .buy-item-label {
    flex-grow: 1;
    padding: 2px 30px 2px 0;
}

.buy-item .buy-item-add {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    background: #2b8cbfc2;
    padding: 2px 10px;
    user-select: none;
    margin: 1px;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
}

.buy-item .buy-item-add:active {
    box-shadow: 1px 1px 1px 0 #7d7d7d;
    margin: 2px 0 0 2px;
}

.buy-item .buy-item-price {

    padding: 2px 0 2px 10px;
    width: 60px;

}

.instructions {
    position: absolute;
    top: 200px;
    right: 0;
    background: lightblue;
    padding: 20px;
    display: none;

}

.heatometer {
    position: absolute;
    bottom: 0;
    background: #c4f0ff94;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    max-width: 100%;
}

.heatometer h3 {
   margin-top: 5px;
    margin-bottom: 5px;
}

.heatometer .meter-bar {
    height: 35px;
    width: 400px;
    max-width: 100%;
    background: rgb(19,65,255);
    display: flex;
    margin: 5px 20px;
    position: relative;
}

.heatometer .meter-bar .good {
    background: blue;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heatometer .meter-bar .okay {
    background: green;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heatometer .meter-bar .hot {
    background: red;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heatometer .meter-bar .meter-fullness {
    height: 25px;
    width: 25px;
    left: 0%;
    top: -5px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    background: red;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 1;

}

.heatometer .meter-bar .meter-cover {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: yellow;
}

.message-div {
    position: absolute;
    top: 30%;
    width: 80%;
    height: 100px;
    text-align: center;
    background: #ff3558;
    border: 3px solid #cc0000;
    left: 10%;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    display: none;
}

.message-div .close {
    position: absolute;
    top: 0;
    right: 0;
    padding:10px;
    font-size: 14px;
    cursor: pointer;
}

.gasometer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 300px;
    width: 50px;
    background: white;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-direction:column;
}

.gasometer h3 {
    color: red;
}

.gasometer .meter-bar {
    border: 1px solid black;
    height: 100%;
    background: #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
}

.gasometer .meter-cover {
    height: 0%;
    width: 100%;
    background: #c00000d6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.gasometer .num-gallons {
    text-align: center;
    padding-top: 5px;
}

.gasometer .meter-bar .full,
.gasometer .meter-bar .empty {
    align-self: center;
    padding: 5px;
}

.gasometer .meter-bar .full {
    flex-grow: 1;
}

.cargoMenu {
    padding: 20px;
    min-width: 200px;
    top: 60px;
    right: 0;
    position: absolute;
    background: #add8e6c4;
}

.cargoMenu .dropdownHeader {
    padding: 5px;
    cursor: pointer;

}

.cargoMenu .dropdownHeader h3 {
    margin: 5px 0;
}

.cargoMenu .cargo-item-container {


    box-sizing: border-box;
}

.cargo-item {
    display: flex;
}

.cargo-item .inventory-title {
    flex-grow: 1;
}

.cargoMenu .cargo-item-container .icon {
    width: 20px;
    height: 20px;
    background: green;
    margin-right: 10px;
}

.sell {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 600px;
    transform: translate(-50%, 0);
    background: lightblue;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
    display: none;
}


.sell .cargo-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: green;
}
.sell .cargo-item {
    display: flex;
    flex-wrap: wrap;
}

.sell .numberToSell {
    width: 50px;
    margin: 0 10px;
}

.sell .cargo-item-name {
    font-weight: bold;
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.sell .cargo-item-price {
    padding-right: 20px;
    border-right: 1px solid black;
    margin-right: auto;
}

.sell .sellAll {
    margin-left:40px;
}

.sell .sellAll:active {
    margin-left:41px;
}

.sell .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.customButton {
    border: 1px solid black;
    background: #2b8cbfc2;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 1px;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
    cursor: pointer;
    height: 18px;
}

.customButton:active {
    box-shadow: 1px 1px 1px 0 #7d7d7d;
    margin: 2px 0 0 2px;
}

.informationalMessage {
    width: 100%;
    background: white;
    border: 2px solid red;
    color: red;
    padding: 2px;
    font-size: 16px;
    text-align: center;
    display: none;
}

